normal line   with a few    spaces  of different     lengths
a  line  with  some  tabs  in  it
another spaced line
another  tabbed  line  
ccc cccc cccc ccc ccc ccc al spaces
ttt  ttt  ttt  ttttttttt  ttttt  ttt  all  